name: flutter_daro_sdk
description: "DARO SDK Flutter plugin for Android and iOS. Supports Non-reward apps."
version: 0.9.6
homepage: https://github.com/HuanSuh/flutter-daro-sdk

environment:
  sdk: ^3.7.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.flutter_daro_sdk
        pluginClass: FlutterDaroSdkPlugin
      ios:
        pluginClass: FlutterDaroSdkPlugin