name: daro_core_a
description: "DARO SDK Core plugin for Non-Reward apps. Provides Android/iOS native dependencies for Non-Reward apps."
version: 0.0.1
homepage: https://guide.daro.so

environment:
  sdk: ^3.7.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.daro_core_a
        pluginClass: DaroCoreAPlugin
      ios:
        pluginClass: DaroCoreAPlugin

